/**
* base
*/

/* CSS Variables */
:root {
  @each $key, $color in $theme-colors {
    --color-#{$key}: #{hexToRGB($color)};
  }

  &[data-theme='dark'] {
    @each $key, $color in $dark-theme-colors {
      --color-#{$key}: #{hexToRGB($color)};
    }
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: $fontFa;
  font-size: $fontSizeBase;
  word-spacing: 1px;
  background-color: getColor(--color-background, 1);
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   color: #E0E0E0;
// }

/* margin を下で距離を取っていきたい */





