@charset 'UTF-8';

/*
* mixin
*/

/* display block element */
@mixin displayFlex(
  $align-items: center,
  $flex-direction: row,
  $justify-content: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* display inline-block element */
@mixin displayInlineFlex(
  $align-items: center,
  $flex-direction: row,
  $justify-content: center
) {
  display: inline-flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* font */

/* 継承 */
@mixin fontInherit() {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@mixin inner() {
  display: block;
  width: 100%;
  max-width: $maxWidthWithMargin;
  height: auto;
  margin: 0 auto;
}

@mixin innerFull() {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
}

/* margin 調整  */
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top, $right, $bottom, $left;
}

/**
* fixed 画面の全面に固定する
*/

/* fixed */
@mixin fixedBase($top: 0, $right: 0, $bottom: 0, $left: 0, $margin: auto) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: $margin;
}

/* fixed  top, right, bottom, left, margin */
@mixin fixedCenter($margin: 0) {
  @include fixedBase(0, 0, 0, 0, $margin);
}

/* fixed  top, right, bottom, left, margin */
@mixin fixedTopLeft($margin: 0) {
  @include fixedBase(0, auto, auto, 0, $margin);
}
