@charset 'UTF-8';

/*
* mixin
*/

/* display block element */
@mixin displayFlex(
  $align-items: center,
  $flex-direction: row,
  $justify-content: center
) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

/* display inline-block element */
@mixin displayInlineFlex(
  $align-items: center,
  $flex-direction: row,
  $justify-content: center
) {
  align-items: $align-items;
  display: inline-flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

/* font */

/* 継承 */
@mixin fontInherit() {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@mixin fontVerticalRl() {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/* font stroke */
@mixin textStroke(
  $strokeSize: 1px,
  $strokeColor: #fff,
  $textColor: $colorNone
) {
  color: $textColor;
  -webkit-text-stroke: $strokeSize $strokeColor;
}

/* font end */

/* main content inner */
@mixin inner() {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: $maxWidthWithMargin;
  width: 100%;
}

/* default vueで使用 */
@mixin innerFull() {
  display: block;
  height: auto;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* margin 調整  */
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: $top, $right, $bottom, $left;
}

/**
* fixed 画面の全面に固定する
*/

/* fixed */
@mixin fixedBase($top: 0, $right: 0, $bottom: 0, $left: 0, $margin: auto) {
  bottom: $bottom;
  left: $left;
  margin: $margin;
  position: fixed;
  right: $right;
  top: $top;
}

/* fixed  top, right, bottom, left, margin */
@mixin fixedCenter($margin: 0) {
  @include fixedBase(0, 0, 0, 0, $margin);
}

/* fixed  top, right, bottom, left, margin */
@mixin fixedTopLeft($margin: 0) {
  @include fixedBase(0, auto, auto, 0, $margin);
}

/* hover action */

@mixin hoverColorBase($backColor: #fff, $beforeBackColor: #fff, $height: 0) {
  background: $backColor;
  border: 1px solid #222;
  display: block;
  font-size: $fontSize80;
  height: $height;
  letter-spacing: 0.1em;
  line-height: $height;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &::before {
    background: $beforeBackColor;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    transition: 0.2s;
    width: 0;
  }

  &:hover::before {
    width: 100%;
  }

  &__title {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 800;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 10;
  }

  &:hover &__title {
    @include textStroke(2px);
  }
}

@mixin hoverBlackToLeft() {
  @include hoverColorBase(#222, #000, 100%);
}
